$imagesPath : "../images";


body, html {
  height: 100%;
  position: relative;
  z-index: -2;
  background-color: black;
}

div{
  border: 1px solid white;
}

.navbar {
  position: sticky;
  top: 0;

  li {
    display: inline;
  }
}

.overview {
  display: flex;
  flex-direction: column;
  
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  
  p{
    color: white;
  }

  .overview_info{
    display: flex;
    flex-direction: row;

    .role_and_difficulty{
      flex: 50%;
      display: flex;
      text-align: center;

      p{
        flex: 50%;
      }
    }

    .biography{
      flex: 50%;
      padding-left: 25px;
      padding-right: 25px;
      text-align: justify;
    }

  }
  .overview_champion_mastery{
    border: 1px solid white;
  }

}

.overview_background_image {
  background-image: url("#{$imagesPath}/naafiri.jpg");
  opacity: 50%;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-size: cover;
  filter: blur(8px);
}



.champion_title {
  color: white;
  text-align: center;
}
